:root {
    --principal-color: rgb(175, 1, 1);
    --header-color: rgb(0, 0, 0);
    --hover-color: rgb(141, 5, 5);
    /*--body-color: /*rgb(255, 255, 255)*//*#000000;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
}
.header {
    width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.header img {
    border-radius: 75px;
    height: 100px;
    width: 100px;
}
.header h1 {
    color: white;
}
.Offer {
    width: 260px;
    height: 60px;
    margin-right: 30px;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to right, #EA8D8D, #A890FE);
    border-radius: 50px;
}
.mocoQueenOffer {
    text-align:  center;
    display: flex;
    flex-direction: column;
}
.Offer p {
    color: white;
    font-size: 18px;
}
.Offer a {
    text-decoration: none;
}

/* -----------------MAIN-----------------*/
body {
    background-color: black;
}
.background {
    background-image: linear-gradient(100deg, #00000099, #00000050),url(/assets/images/Background2.png);
    background-size: cover;
    /*background-attachment: fixed;*/
    width: auto;
}
.principal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
    width: auto;
    padding-top: 40px;
    background-color: #00000080;
}
.principal_container a {
    text-decoration: none;
}
.cardPortafolio {
    width: 200px;
    padding: 10px;
    background-color: #00000090;
    border-radius: 20px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 5px 5px 5px #ffffff20;
}
.cardPortafolio p {
    color: white;
    font-size: 25px;
}
.cardPortafolio:hover {
    background-color: #000000;
    transform: scale(1.1);
}
.secondTittle {
    height: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.secondTittle h3 {
    color: white;
    font-size: 30px;
}

/*----------Second Container----------*/
.second_container {
    margin: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    grid-template-columns: repeat(3, 250px);
}
.cardInstagram {
    width: 200px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #a41fcc, #d42f6e);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardInstagram i {
    color: #ffffff;
    font-size: 20px;
}
.cardInstagram:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardEngInstagram {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #a41fcc, #d42f6e);
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardEngInstagram i {
    color: #ffffff;
    font-size: 20px;
}
.cardEngInstagram:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardTwitch {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #9146FF, #9146FF);
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardTwitch i {
    color: #ffffff;
    font-size: 20px;
}
.cardTwitch:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardX {
    width: 200px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardX i {
    color: #ffffff;
    font-size: 20px;
}
.cardX:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardFacebook {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1877F2;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardFacebook i {
    color: #ffffff;
    font-size: 20px;
}
.cardFacebook:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardYoutube {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FF0000;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardYoutube i {
    color: #ffffff;
    font-size: 20px;
}
.cardYoutube:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardTikTok {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardTikTok i {
    color: #ffffff;
    font-size: 20px;
}
.cardTikTok:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardPatreon {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #f96854, #052d49);
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardPatreon i {
    color: #ffffff;
    font-size: 20px;
}
.cardPatreon:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardKofi {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #ffffff, #00b9fe);
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ffffff20;
    opacity: 70%;
}
.cardKofi img {
    height: 20px;
    width: 25px;
}
.cardKofi:hover {
    opacity: 100;
    transform: scale(1.1);
}
.cardletter {
    color: white;
}
.second_container a {
    text-decoration: none;
}
.video iframe {
    border-radius: 10px;
}

/*-----RESPONSIVE MOBILE-----*/

@media (max-width: 556px) {
    header {
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        background-color: var(--header-color);
        position: sticky;
        top: 0;
    }
    .header {
        width: 500px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }
    .header img {
        border-radius: 75px;
        height: 50px;
        width: 50px;
    }
    .header h1 {
        color: white;
        font-size: 20px;
    }
    .Offer {
        width: 280px;
        height: 40px;
        margin-right: 10px;
        justify-content: center;
        align-content: center;
        background-image: linear-gradient(to right, #EA8D8D, #A890FE);
        border-radius: 50px;
    }
    .mocoQueenOffer {
        text-align:  center;
        display: flex;
        flex-direction: column;
    }
    .Offer p {
        color: white;
        font-size: 10px;
    }
    /* ----- BACKGROUND ----- */
    .background {
        background-image: linear-gradient(100deg, #00000099, #00000050),url(/assets/images/mobileBackground.png);
        background-size: cover;
        background-position: center;
        /*background-attachment: fixed;*/
        width: auto;
        animation: cambiarFondo 60s infinite;
    }
    @keyframes cambiarFondo {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    /* ----- Links ----- */
    .second_container {
        margin: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    .video iframe {
        display: none;
    }
}


